extends layout

block append stylesheets
  link(href='http://fonts.googleapis.com/css?family=Noticia+Text', rel='stylesheet', type='text/css')
  link(href='/public/css/index.css', rel='stylesheet', type='text/css')

block append scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js');
  script(src='/socket.io/socket.io.js')
  script(src='/public/js/index.js')

block content
  table
    tr
      td
          #header
            h1 Syncthesizer
          #nowplaying
            .title
              | No song loaded
            .status
              | Select song or wait for next sync
          audio#player(controls, autoplay, loop)
          h3 Search
          #searchbox
            input#search(type='text', autocomplete='off')
    tr
      td.list
        div.scrollr
          ul#songs
            - each file in audioFiles
              li
                a(href='#', url='#{file.url}')
                  .title
                    #{file.title}
                  .artist
                    #{file.artist}
