html, table, .list {
  height: 100%;
}

body {
  height: 99%;
}

body, input, textarea {
  font-family: 'Noticia Text', serif;
  font-size: 14px;
}

a, a:visited, a:hover {
  text-decoration: none;
  font-weight: normal;
  color: #00E;
}

body {
  width: 400px;
  margin: auto;
}

audio {
  width: 100%;
}

ul#songs {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #BBB;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  word-wrap: break-word;
  margin: 0 5px 0 0;
}

#nowplaying {
  margin-bottom: 15px;
  padding: 3px 5px 3px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #BBB;
}

ul#songs li {
  border-bottom: 1px solid #BBB;
  padding: 3px 5px 3px 5px;
}

ul#songs li:last-child {
  border-bottom: 0;
}

ul#songs li:hover {
  background-color: #C3E4ED;
}

.scrollr {
  overflow-y: scroll;
  height: 100%;
  min-height: 100px;
}

#search {
  width: 100%;
  border: 1px solid #BBB;
  font-size: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.title {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.artist {
  font-size: 14px;
  color: black;
}

h3 {
  color: #777;
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment  {
  height: 0;
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-track  {
  background-color: #F2F2F2;
}

::-webkit-scrollbar-thumb:vertical:hover {
  height: 50px;
  background-color: #AAA;
  border: 1px solid #AAA;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #CBCBCB;
  border: 1px solid #CBCBCB;
}

